@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

$primary: #1652f0;
$protfulio-text: #869ab8;
$protfulio: #f7f8fc;

@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}
// button
button:focus {
  outline: none !important;
}

.p-mt-3 {
  margin-top: 30px;
}
.p-mb-3 {
  margin-bottom: 30px !important;
}

.font-weight-600 {
  font-weight: 600;
}

button,
.btn {
  border-radius: 5px;
}

.btn-banner {
  padding: 10px 30px !important;
  min-width: 130px;
}
.btn-nav {
  min-width: 100px;
}
/* * banner * */
.banner {
  height: 88.7vh;
  @include tablet() {
    height: unset;
    padding: 20px;
  }
}

.nav-link.active {
  color: $primary !important;
}
.nav-link:hover {
  color: $primary !important;
}

// * banndeg

.badge {
  padding: 10px !important;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.demo {
  p.position-absolute {
    top: 15px;
    right: 30px;
    transition: 0.5s all;
  }
  a {
    display: block;
    position: relative;
    height: 400px;
  }

  a:hover img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin-top: -10px;
    transition: 0.5s all;
  }
  a:hover p.position-absolute {
    top: 5px;
    right: 30px;
    transition: 0.5s all;
  }
  a img {
    transition: 0.5s all;
  }
  .demo_footer {
    bottom: 5px;
    color: #141313;
    @include tablet() {
      bottom: unset;
      margin-top: 20px;
    }
    h3 {
      color: #1f1f25;
      font-size: 20px;
      letter-spacing: 0.2px;
      font-weight: 600;
    }
    p {
      padding: 0;
      color: rgba(29, 29, 36, 0.75);
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      padding-top: 5px;
    }
  }
}

// * header
header {
  top: 0;
  z-index: 99;
}

// * support
.support {
  padding-top: 100px 0px;
  h4 {
    color: #161c2d;
  }
  .features-content {
    i {
      color: $primary;
      font-size: 36px;
    }
    h4 {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p {
      line-height: 27px;
      max-width: 350px;
      margin: 0 auto 20px;
      @include tablet() {
        margin: 0;
      }
    }
    a {
      font-size: 14px;
      margin-bottom: 30px;
      display: block;
      text-decoration: none;
      i {
        font-size: 14px;
      }
    }
  }
}

footer {
  background-color: #1b2a4e;
  padding: 30px 0px;
  .social {
    a {
      margin: 0px 10px;
      &:first-child {
        margin: 0;
      }
    }
    @include phone() {
      margin-top: 10px;
    }
  }
}
